@import 'bulma/sass/utilities/initial-variables'
$blue: #72d0eb
$primary: $blue
@import 'bulma/bulma.sass'

// keyframes
@keyframes justrotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.full-width
  width: 100%

.flex-center
  display: flex
  justify-content: center
  align-items: center
  img
    border-radius: 50%
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

.form-container
  background-color: #3498db
  h1,h2,h3,h4,h5,h6
    color: #fff

.hero-section
  background-color: #3498db
  height: 30em

.hero-section button
  margin: 1.7em 0
  cursor: pointer
  padding: 1em;
  text-align: center
  text-transform: uppercase
  border: 0 none
  font-weight: 700
  color: #454545
  background-color: #feee7d
  box-shadow: 2px 5px 10px rgba($dark, .1)
  &:hover
    transition: all 60ms ease
    opacity: .85

.hero-section
  h1,h2,h3,h4,h5,h6
    color: #fff
    font-weight: 700
    margin-bottom: 0
    padding: 0
  h2
    padding-top: 0.5em
    font-size: 1.2em

  .homepage-activity
    padding: 2em 0 0 0
    h4
      font-size: 1.3em
    h5
      font-size: 1em
    h6
      font-size: 1em
      color: rgba(0,0,0,0.5)
  .animation-div
    display: flex
    justify-content: center
    align-items: center
    img
      height: 12em
      animation: justrotate 20s infinite
      +mobile
        height: 3em

.timeline-container
  height: 20em
  overflow-y: auto
  .timeline .timeline-item .timeline-content
    +mobile
      padding: 0
      flex: inherit
